.partners hr{
    background: var(--Alto);
    margin: 0 auto;
    width: 80%;
    border: none;
    height: 1px;
}


.partners .flex {
    justify-content: space-around;
    padding: 60px 0;
}


/* Mobile */
@media (max-width: 500px) {
    .partners .flex {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 115px;
        column-gap: 40px;
        width: 350px;
    }

    
    .partners .flex img {
        width: 70px;
    }
}


/* Tablet */
@media (max-width: 780px) {
    .partners .flex img {
        width: 70px;
    }
}